<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Email Addresses Entered:</h2>
    {% for i in results %}
    <div>
        <h3>{{i['email']}}</h3>
        <h3>{{i['created_at']}}</h3>
    </div>
    {% endfor %}
</body>
</html>